@use 'helpers' as *;

:root {
    /* Глобальные цвета */
    --color-light: #FFFFFF;

    --color-dark: #141414;
    --color-dark-10: #1A1A1A;
    --color-dark-15: #262626;
    --color-dark-20: #333333;
    --color-dark-40: #666666;

    --color-grey-50:#7E7E81;
    --color-grey-60:#98989A;

    
    /* Цвет акцента и на случай ошибок */
    --color-accent:#FFD11A;
    --color-red:#FF5500;



    /* Глобальный шрифт */
    --font-family-base: 'Inter', sans-serif;
    --font-family-accent: 'Kumbh Sans', sans-serif;


    --container-width:  #{rem(1600)} ; /* Обязательно обертывать в фигурные скобки так как scss не умеет обрабатывать сам без указания именно в этом случае */
    --container-padding-x: #{rem(16)};

    --transition-duration: 0.2s;

    @include laptop {
        --container0-with: #{rem(1280)};
    }
}